*{
    margin: 0;
}
.title{

    background-color: beige;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.container_student_picker{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    padding: 10px;
    height: 97vh;
}
.students_list_section{
    height: 70%;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    /* align-items: center; */
}
.new_student{
    display: flex;
}
.stud_list{
    overflow: auto;
    padding: 10px 15px ;
    
}
.students_list_title{
    text-align: center;
}
#students_list{
    padding: 0 20px;
    overflow: auto;
    height: 50vh;
}
.generator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#add{
    margin-left: 1rem;
    padding:5px 25px;
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.generate_list_student button{
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    cursor: pointer;
    
}
#modal-body{
    padding: 0 20px;
    overflow: auto;
    height: 50vh;
}
#add_subject{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.student_name_field{
    display: flex;
    justify-content: space-between;
}

.pick_lucky_student{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spinner{
    background-color: aqua;
    padding: 15px 40px;
    border-radius: 10px;
}
.pick_lucky_student button{
    padding:30px;
    margin-top: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}
.list_picked_students{
    height: 70%;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.students_list_shake{
    animation: shake 1s ;
    overflow: auto;
}
.generated_elements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    overflow: auto;

}
hr{
    margin: 10px 5px !important;
}
#delete_student ,#delete_subject{
    border: none;
    background-color: beige;
    border-radius: 100%;
    padding: 0;
}
#warning_message{
    margin-top: 10px;
    color: red;
}
.btn ,.btn-dark{
    padding: 5px 15px !important;
    margin: 10px 0 ;
    width: 9rem;
}
@keyframes shake {
    0% {transform : translate(1px,1px) rotate(0deg);}
    10% {transform : translate(-1px,2px) rotate(-5deg);}
    20% {transform : translate(-3px,0px) rotate(1deg);}
    30% {transform : translate(1px,1px) rotate(5deg);}
    40% {transform : translate(10px,1px) rotate(1deg);}
    50% {transform : translate(1px,1px) rotate(-1deg);}
    60% {transform : translate(1px,1px) rotate(0deg);}
    70% {transform : translate(-1px,2px) rotate(-5deg);}
    80% {transform : translate(1px,1px) rotate(0deg);}
    90% {transform : translate(1px,1px) rotate(5deg);}
    100% {transform : translate(1px,1px) rotate(0deg);}
}
@media only screen and (max-width: 767px) { 
    .container_student_picker{
        flex-direction: column;
    }
}